# compiled output
/dist
/tmp
/out-tsc
/target/

# dependencies
/node_modules
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.settings
.springBeans
.sts4-cache
# dependencies

# IDEs and editors
/.idea
.project
.c9/
*.launch
.settings/
*.sublime-workspace
# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr
# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
overlays
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# java
*.class
*.war
*.ear
velocity.log

# System Files
.DS_Store
Thumbs.db

# bak
*.bak
/bin/

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
#npm
package-lock.json

###临时文件
~*
log/
