<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.pure.cm.auth.server.mapper.SysAuthorityMapper">
  <resultMap id="BaseResultMap" type="com.github.pure.cm.auth.server.model.entity.SysAuthority">
    <id column="oid" property="oid"/>
    <result column="menu_id" property="menuId"/>
    <result column="order_num" property="orderNum"/>
    <result column="name" property="name"/>
    <result column="expression" property="expression"/>
    <result column="remark" property="remark"/>
    <result column="add_user_id" property="addUserId"/>
    <result column="add_user_name" property="addUserName"/>
    <result column="add_date_time" property="addDateTime"/>
    <result column="opt_user_id" property="optUserId"/>
    <result column="opt_user_name" property="optUserName"/>
    <result column="opt_date_time" property="optDateTime"/>
    <result column="del_flg" property="delFlg"/>
  </resultMap>


  <!-- 通用查询结果列 -->
  <sql id="sys_authority_base_sql">
    ${tableName}.oid as ${tableAsName}_oid,
    ${tableName}.menu_id as ${tableAsName}_menuId,
    ${tableName}.order_num as ${tableAsName}_orderNum,
    ${tableName}.name as ${tableAsName}_name,
    ${tableName}.remark as ${tableAsName}_remark,
    ${tableName}.expression as ${tableAsName}_expression,
    ${tableName}.add_user_id as ${tableAsName}_addUserId,
    ${tableName}.add_user_name as ${tableAsName}_addUserName,
    ${tableName}.add_date_time as ${tableAsName}_addDateTime,
    ${tableName}.opt_user_id as ${tableAsName}_optUserId,
    ${tableName}.opt_user_name as ${tableAsName}_optUserName,
    ${tableName}.opt_date_time as ${tableAsName}_optDateTime,
    ${tableName}.del_flg as ${tableAsName}_delFlg
  </sql>

  <insert id="saveBatch">
    insert into sys_authority (
    oid,
    menu_id,
    order_num,
    name,
    remark,
    expression,
    add_user_id,
    add_user_name,
    add_date_time,
    opt_user_id,
    opt_user_name,
    opt_date_time,
    del_flg
    ) values
    <foreach collection="saveList" item="saveObj" separator=",">
      (
      #{saveObj.oid},
      #{saveObj.menu_id},
      #{saveObj.order_num},
      #{saveObj.name},
      #{saveObj.remark},
      #{saveObj.expression},
      #{saveObj.add_user_id},
      #{saveObj.add_user_name},
      #{saveObj.add_date_time},
      #{saveObj.opt_user_id},
      #{saveObj.opt_user_name},
      #{saveObj.opt_date_time},
      #{saveObj.del_flg}
      )
    </foreach>
  </insert>

</mapper>