#set( $lineThrough = $MyVelocityTemplateEngine.split($entity))
<!--查询-->
<form nz-form [formGroup]="where${entity}Group">

  <div nz-row [nzGutter]="where${entity}GridCfg.row.gutter">
  ## 遍历生产查询条件
      #foreach($field in ${table.fields})
        <div nz-col [nzXs]="where${entity}GridCfg.xs" [nzXXl]="where${entity}GridCfg.xxl"
             [nzXl]="where${entity}GridCfg.xl" [nzLg]="where${entity}GridCfg.lg">
          <nz-form-item>
            <nz-form-label [nzSpan]="where${entity}FormConfig.formLabelSpan"
                           [nzOffset]="where${entity}FormConfig.offset" nzFor="${field.name}">
                ${field.name}
            </nz-form-label>
            <nz-form-control [nzSpan]="where${entity}FormConfig.formControlSpan">
              <input type="text" nz-input formControlName="${field.name}">
            </nz-form-control>
          </nz-form-item>
        </div>
      #end

    <div nz-col [nzXs]="where${entity}GridCfg.xs" [nzXXl]="where${entity}GridCfg.xxl"
         [nzXl]="where${entity}GridCfg.xl"
         [nzLg]="where${entity}GridCfg.lg">
      <nz-form-item>
        <nz-form-control>
          <button nz-button class="my-search-btn" nzType="primary" type="button"
                  (click)="pageSelect${entity}(1)">
            <i class="anticon anticon-search"></i>查询
          </button>
          <button nz-button nzType="primary" type="button" class="margin-left-5"
                  (click)="${entityLow}Oper.openModify${entity}Window()">
            <i class="anticon anticon-plus-circle-o"></i> 添加
          </button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
#set( $entityLow = $entity.substring(0,1).toLowerCase()+$entity.substring(1) ) ##/* 首字母大写 */
<nz-table #basicTable
          [nzSize]="${entityLow}TableConfig.nzSize"
          [nzHideOnSinglePage]="${entityLow}TableConfig.nzHideOnSinglePage"
          [nzFrontPagination]="${entityLow}TableConfig.nzFrontPagination"
          [nzShowPagination]="${entityLow}TableConfig.nzShowPagination"
          [nzBordered]="${entityLow}TableConfig.nzBordered"
          [nzLoadingDelay]="${entityLow}TableConfig.nzLoadingDelay"
          [nzLoading]="${entityLow}TableConfig.nzLoading"
          [nzScroll]="${entityLow}TableConfig.nzScroll"
          [nzData]="${entityLow}TableConfig?.data"
          [nzTotal]="${entityLow}TableConfig?.total"
          [(nzPageIndex)]="${entityLow}TableConfig.pageWhere.page"
          [nzPageSize]="${entityLow}TableConfig.pageWhere?.pageSize"
          (nzPageIndexChange)="pageSelect${entity}($event)">
  <thead>
  <tr>
      #foreach($field in ${table.fields})
        <th nzWidth="120px">${field.name}</th>
      #end
    <th nzWidth="170px" nzRight="0px">操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let ${entityLow} of basicTable.data">
      #foreach($field in ${table.fields})
        <td nzWidth="120px">{{${entityLow}.${field.name}}}</td>
      #end
    <td nzWidth="170px">
      <a (click)="${entityLow}Oper.openModify${entity}Window(${entityLow})"> 修改</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a (click)="${entityLow}Oper.openDel${entity}(${entityLow})"> 删除</a>
    </td>
  </tr>
  </tbody>
</nz-table>

<app-${lineThrough}-add #${entityLow}Oper \(modify${entity}Status\)="pageSelect${entity}(1)">
</app-${lineThrough}-add>