#set( $entityLow = $entity.substring(0,1).toLowerCase()+$entity.substring(1) )
<app-common-modal [commonModalConfig]="operation${entity}Modal"
                  (nzOnOk)="modifyModel${entity}Ok()">
  <form nz-form [formGroup]="${entityLow}FormGroup">

      #foreach($field in ${table.fields})
        <nz-form-item>
          <nz-form-label [nzSpan]="curr${entity}Form.formLabelSpan" nzFor="${field.name}">${field.name}
          </nz-form-label>
          <nz-form-control [nzSpan]="curr${entity}Form.formControlSpan">
            <input type="text" nz-input formControlName="${field.name}">
            <nz-form-explain
                *ngIf="${entityLow}FormGroup.get('${field.name}').dirty && ${entityLow}FormGroup.get('${field.name}').errors">
              必填项
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      #end
  </form>
</app-common-modal>
