<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.pure.cm.auth.server.mapper.SysAuthorityMapper">
    <resultMap id="BaseResultMap" type="com.github.pure.cm.auth.server.model.entity.SysAuthority">
        <id column="oid" property="oid"/>
        <result column="menu_id" property="menuId"/>
        <result column="order_num" property="orderNum"/>
        <result column="name" property="name"/>
        <result column="url" property="url"/>
        <result column="type" property="type"/>
        <result column="expression" property="expression"/>
        <result column="remark" property="remark"/>
        <result column="add_date_time" property="addDateTime"/>
        <result column="opt_date_time" property="optDateTime"/>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="sys_authority_base_sql">
      ${tableName}.oid as ${tableAsName}_oid,
      ${tableName}.menu_id as ${tableAsName}_menuId,
      ${tableName}.order_num as ${tableAsName}_orderNum,
      ${tableName}.name as ${tableAsName}_name,
      ${tableName}.url as ${tableAsName}_url,
      ${tableName}.type as ${tableAsName}_type,
      ${tableName}.remark as ${tableAsName}_remark,
      ${tableName}.expression as ${tableAsName}_expression,
      ${tableName}.add_date_time as ${tableAsName}_addDateTime,
      ${tableName}.opt_date_time as ${tableAsName}_optDateTime
    </sql>

    <insert id="saveBatch">
        insert into sys_authority (
        oid,
        menu_id,
        order_num,
        name,
        url,
        type,
        remark,
        expression,
        add_date_time,
        opt_date_time
        ) values
        <foreach collection="saveList" item="saveObj" separator=",">
            (
            #{saveObj.oid},
            #{saveObj.menu_id},
            #{saveObj.order_num},
            #{saveObj.name},
            #{saveObj.url},
            #{saveObj.type},
            #{saveObj.remark},
            #{saveObj.expression},
            #{saveObj.add_date_time},
            #{saveObj.opt_date_time}
            )
        </foreach>
    </insert>

</mapper>